<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>549916462254-15b0smtqm05n5s8roqdbnqli02cgj07t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549916462254-15b0smtqm05n5s8roqdbnqli02cgj07t</string>
	<key>API_KEY</key>
	<string>AIzaSyDf4wSglXs6SKiJSddHBd7LGzrq3Sy1_Dg</string>
	<key>GCM_SENDER_ID</key>
	<string>549916462254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whallalabs.peka</string>
	<key>PROJECT_ID</key>
	<string>gdzie-ta-bimba</string>
	<key>STORAGE_BUCKET</key>
	<string>gdzie-ta-bimba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:549916462254:ios:d3d23ad8a9c05529</string>
	<key>DATABASE_URL</key>
	<string>https://gdzie-ta-bimba.firebaseio.com</string>
</dict>
</plist>